@{
    ViewBag.Title = "网盘管理";
}

@section head{
    @Styles.Render("~/Content/fileinput.css")
}
<h2>文件管理</h2>
<hr />

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title" style="font-size:24px">
            网盘空间
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-sm" style="float: right;" data-toggle="modal" data-target="#file_modal">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                上传文件
            </button>
        </h3>
    </div>
    <div class="panel-body">
        @if(ViewBag.fileNameList != null){
            for (int i = 0; i < ViewBag.fileNameList.Count; i++)
            {
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="@ViewBag.imageUrlList[i]" width="120px" height="120px">
                        <div class="caption">
                            <h3>@ViewBag.fileNameList[i]</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <form:form action="/user/deleteFile" method="post" role="form">
                                        <input name="fileName" type="text" value="@ViewBag.fileNameList[i]" style="display: none">
                                        <input type="submit" class="btn btn-primary btn-sm" value="删除">
                                    </form:form>
                                </div>
                                <div class="col-md-6">
                                    <form:form action="/user/downloadFile" method="post" role="form">
                                        <input name="fileName" type="text" value="@ViewBag.fileNameList[i]" style="display: none">
                                        <input type="submit" class="btn btn-primary btn-sm" value="下载">
                                    </form:form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
    </div>
</div>


<form action="/Manage/UploadFile" method="post" role="form" class="form-horizontal" novalidate="novalidate" enctype="multipart/form-data">
    <!-- Modal -->
    <div class="modal fade" id="file_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">选择上传文件</h4>
                </div>
                <div class="modal-body">

                    <input id="input-file" type="file" name="files" multiple class="file-loading">
                    <input type="submit" style="display: none" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/Scripts/fileinput.js")
<script>
  $(document).on('ready', function() {
    $("#input-file").fileinput({
      showPreview:true,
      showCaption:true,
      dropZoneEnabled:true,
      enctype: 'multipart/form-data',
      browseLabel : "浏览",
      removeLabel : "删除",
      uploadLabel : "上传",
    });
    //allowedFileExtensions: ['jpg', 'png', 'gif'],
    //showCaption: false
  });
</script>
}