@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<SocialNoteMark.Models.Bulletin>
<link href="../Content/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="../Content/style.css" rel="stylesheet" type="text/css" media="all" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
<script src="../Scripts/jquery.min.js"></script>
<div class="container">
    <div class="header">


        <div class="clearfix"> </div>
        <!-- script-for-nav -->
        <script>
            $("span.menu").click(function () {
                $(".head-nav ul").slideToggle(300, function () {
                    // Animation complete.
                });
            });
        </script>
        <!-- script-for-nav -->
    </div>
</div>
<div class="banner">
    <div class="container">
        <div class="banner-info">
            <h1>Welcome To SocialNoteMark</h1>
            <div class="col-md-2 lente"> </div>
        
        </div>
    </div>
</div>
<!-- header -->

<div class="container">
    <div class="content-top">
        <div class="content">
            <div class="col-md-3 lente">
                <h4>招募信息</h4>
                <h6>这里都是最新的招募信息，程序猿们可以于此选择自己心仪的工作。</h6>
                <ul>
                    @for (int i = 0; i < 7 || i < ViewBag.RecruitList.Count; i++)
                    {
                        <li><a href="recruitBulletin/AllRecruit"><span> </span> @ViewBag.RecruitList[i].Name </a></li>
                    }
                   
                
                </ul>
                <div class="sti">
             
                    <h4>笔记</h4>
             
                    <img src="../images/img1.jpg" class="img-responsive" alt="" />
           
                    <p>在这里大家可以看到最新最热的几条笔记哦。</p>
                    <a href="/note/" class="link">Read More</a>
            
                </div>
            </div>
            <div class="copyrights">Collect from <a href="http://www.cssmoban.com/">企业网站模板</a></div>
            <div class="col-md-8 sedtell">
                <h3><a href="#">管理员想对大家说的话</a></h3>
                <h5>公告</h5>
                <div class="sedtell-top">
                    <div class="sedtell-left">
                        <img src="../images/img2.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="sedtell-right">
                        <p>@ViewBag.newBulletin.Name  </p>
                        <p> @Html.Raw(@ViewBag.newBulletin.Content)</p> 
</div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sedtell-bottom">
                    <div class="sedtell-left1">
                        <div class="left-top">
                            <div class="top1">
                                <i class="umber"></i>
                            </div>
                            <div class="top2">
                                @if(ViewBag.NoteList[0]!=null){<h3><a href="#">@ViewBag.NoteList[0].Title</a></h3>}
                                else
                                { <h3><a href="#">暂无</a></h3>}
                                <h5>被浏览最多的笔记 </h5>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <img src="../images/img3.jpg" class="img-responsive" alt="" />
                      @if (ViewBag.NoteList[0] != null)
                      {  <p>@ViewBag.NoteList[0].Description</p>}
                        <a href="/note/" class="link">Read More</a>
                    </div>
                    <div class="sedtell-right1">
                        <div class="left-top">
                            <div class="top1">
                                <i class="bell"></i>
                            </div>
                            <div class="top2">
                                @if (ViewBag.NoteList[1] != null)
                                {<h3><a href="#">@ViewBag.NoteList[1].Title</a></h3>}
                                else
                                { <h3><a href="#">暂无</a></h3>}
                                <h5>被评论最多的笔记</h5>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <img src="../images/img4.jpg" class="img-responsive" alt="" />
                        @if (ViewBag.NoteList[1] != null)
                        {  <p>@ViewBag.NoteList[1].Description</p>}
                        <a href="/note/" class="link">Read More</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- footer -->
<div class="footer">
    <div class="container">
        <p>code by OurCShap</p>
    </div>
</div>
